body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
    padding-top: 100px;
}
button {
    padding: 12px 25px;
    background: #27ae60;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background: #2ecc71;
}
#score {
    margin-top: 30px;
    font-size: 28px;
    color: white;
}